@import url('https://fonts.googleapis.com/css2?family=Lato&family=Poppins:wght@400;500;600;700;800;900&display=swap');
            * {
                margin: 0;
                padding: 0;
                box-sizing: border-box;
                font-family: 'Lato', sans-serif;
                font-family: 'Poppins', sans-serif;
            }
	    body {
		background-color: #E8E4E4;
		height: 100vh;
		width:100%

	    }
	
            header {
                background-color: #24252A;
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 0px 3%;
            }
            ul {
                display: flex;
                flex-direction: row;
                
            }
            ul li {
                margin-left: 5px;
                margin-right: 5px;
                
            }
            .logotekst {
                width: 489px;
                height: 165px;
                color: #fff;
                margin-left: -80px;
            }
            li {
                background-color: #24252A;
                border-radius: 30px;
                font-size: 20px;
                display: flex;
            
            }
            ul li a {
                color: #fff;
                text-decoration: none;
                font-family: 'Poppins', sans-serif;
                list-style: none;
                display: block;
                padding: 10px 25px;
                border-radius: 30px;
		text-transform: uppercase;
            
            }
	    ul li a .active:{
	    	background: #fff;
	 	color: #24252A;
                text-decoration: none;
                font-family: 'Poppins', sans-serif;
                list-style: none;
                display: block;
                padding: 10px 25px;
                border-radius: 30px;
		text-transform: uppercase;
	    }

            li:hover {
                background-color: #fff;
                
            }
            li a:hover {
                color: #24252A;
            }
            .artstation {
                width: 40px;
                height: 40px;
                display: block;
            }
            .artstation:hover{
                background-color:#24252A;
            }
            .ig {
                width: 40px;
                height: 40px;
                display: block;
            }
            .poczta {
                width: 40px;
                height: 40px;
                display: block;
            }
	    ul li .active {
	   	background-color:#fff;
		color: #24252A;
	    }
	    footer {
		position: absolute;
		bottom:0;
		left:0;
		right:0;
		background: #24252A;
		height: auto;
		width:100vw;
		font-family: "Open Sans";
		padding-top: 10px;
		color: #fff;
		}
	    .footer-content{
		display: flex;
		algin-items: center;
		justify-content: center;
		flex-direction: column;
		text-algin: center;
		margin: 5px auto;
	    }
	    .footer-content h3{
		font-size: 1.8rem;
		font-weight: 400;
		text-transform: capitalize;
		line-height: 3rem;
		margin: 5px auto;
	    }
	    .footer-content p{
		max-width: 500px;;
		line-height: 28px;
		font-size: 14px;
		margin: 5px auto;
	    }
		.footer-bottom{
		background: #000;
		width: 100vw;
		padding: 20px 0;
		text-algin: center;

	    }
		.footer-bottom p{
		text-transform: capitalize;
		word-spacing: 2px;
		font-size: 14px;
		color: rgb(96,96,96);
	    }
	    .links {
		list-style:none;
		display: flex;
		algin-items:center;
		justify-content: center;
		margin 1rem 0 3rem 0;
	    }
	    .links li{
		margin: 0 10px;
	    }
	    .links a{
		text-decoration: none;
		color:#fff;
	    }
	    h1{
		color:#fff;
		margin-left: 50px;
		margin-top: 30px;
		margin-right: 50px;
	    }
