* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #0f1117;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.zdj1 {
    width: 950px;
    height: auto;
    position: absolute;
    bottom: 130px;   
    left: 870px;  
}

h1 {
    color: white;
    font-size: 130px;
    position: absolute;
    top: 100px;   
    left: 130px;
}

h2 {
    color: white;
    font-size: 30px;
    position: absolute;
    top: 250px;   
    left: 140px;
}

p {
    color: white;
    font-size: 20px;
    text-align: left;
    padding: 300px 1300px 600px 140px;
}

.logozdj {
    width: 50px;
    height: auto;
    position: absolute;
    top: 20px;   
    left: 50px;
}




/* Styl dla nawigacji */
nav {
    background-color:#0f1117;
    padding: 25px;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: left;
    position: absolute;
    left: 120px;
}

nav ul li {
    display: inline;
}

nav ul li a {
    color: white;
    text-decoration: none;
    padding: 8px 16px;
    display: block;
}

nav ul li a:hover {
    background-color: #1a1e29;
    color: white;
    border-radius: 30px;
}

/* Styl galerii */
.gallery {
    flex: 1;
    padding: 20px;
    text-align: center;
}

.gallery-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.gallery-container img {
    width: 300px;
    height: 200px;
    cursor: pointer;
    transition: transform 0.2s;
}

.gallery-container img:hover {
    transform: scale(1.1);
}

/* Styl dla modalnego okna */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 60px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
}

.modal-content {
    margin: auto;
    display: block;
    max-width: 90%;
    max-height: 80%;
}

.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: white;
    font-size: 40px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/* Stopka na dole strony */
footer {
   
    background-color: #191d27;
    color: white;
    text-align: center;
    padding: 15px 0;
    font-size: 14px;
    margin-top: 50px;
}
